In [3]:
#Importing Liabraries
import pandas as pd
import numpy as np
import os

In [4]:
#Assigning path
path = path=r'C:\Users\ANGEL\Desktop\Instacart Master Analysis'

In [5]:
path

'C:\\Users\\ANGEL\\Desktop\\Instacart Master Analysis'

In [6]:
#Importing Ords_prods_merged_updated Data from Prepared Data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [7]:
#dropping unnamed columns
ords_prods_merge = ords_prods_merge.drop(columns = ['Unnamed: 0_x','Unnamed: 0_y'])

In [8]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders

In [9]:
#Finding aggregated mean of the entire dataset
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

Q3.When we work on the entire data set, we see that the mean values in the subset tend to differ. E.g the eman value for department_id 17 was ca. 11 in the subset, is now ca.16 and that of dept_id 19 was ca.19 is now 17. From this we can assess that working on subsets tend to give us false information. But when the data is extremely large, we have to work on subsets.

# Q4 Creating a loyalty flag for customers with transform () and loc ()

In [10]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

#Q5: checking for price diffence among the customers based on flag

In [16]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

Our analysis shows us that the loyal customers are the ones buying the cheapest products on offer while the new customers on the other hand tend to buy the more expensive ones.

# Q6 Creating a spending_flag based on average price
a. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”                
b. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [17]:
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [18]:
ords_prods_merge.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,14.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,14.0
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,14.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,14.0
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,14.0
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,14.0
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,14.0

In [19]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low Spender'

In [20]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High Spender'

In [21]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,14.0,High Spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,14.0,High Spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,14.0,High Spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,14.0,High Spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,14.0,High Spender

In [22]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

High Spender    32372969
Low Spender        31890
Name: spending_flag, dtype: int64

Q7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [23]:
ords_prods_merge['median_order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [24]:
ords_prods_merge['median_order_frequency']

0           20.5
1           20.5
2           20.5
3           20.5
4           20.5
            ...
32404854     8.0
32404855     8.0
32404856    15.0
32404857    15.0
32404858    13.0
Name: median_order_frequency, Length: 32404859, dtype: float64

In [25]:
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [26]:
ords_prods_merge.loc[(ords_prods_merge['median_order_frequency'] > 10) & (ords_prods_merge['median_order_frequency'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [27]:
ords_prods_merge.loc[ords_prods_merge['median_order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [28]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_order_frequency,order_frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,14.0,High Spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,14.0,High Spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,14.0,High Spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,14.0,High Spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,14.0,High Spender,20.5,Non-frequent customer

In [29]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [30]:
check_for_nan = ords_prods_merge['median_order_frequency'].isnull().values.any()
print (check_for_nan)

True

In [31]:
ords_prods_merge[ords_prods_merge['order_frequency_flag'].isnull()][['user_id', 'days_since_prior_order', 'median_order_frequency', 'order_frequency_flag']]

,user_id,days_since_prior_order,median_order_frequency,order_frequency_flag
13645692,159838,NaN,NaN,NaN
17251990,159838,NaN,NaN,NaN
17622767,159838,NaN,NaN,NaN
24138593,159838,NaN,NaN,NaN
25880002,159838,NaN,NaN,NaN

All the NaN values correspond to one user_id, so maybe it is a one time user. We can let the values be.

In [32]:
#creating asubset for user_id 159838 to check for frequency
ords_prods_merge[ords_prods_merge['user_id']==159838]

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_order_frequency,order_frequency_flag
13645692,895835,159838,prior,1,0,17,NaN,10749,3,0,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High Spender,NaN,NaN
17251990,895835,159838,prior,1,0,17,NaN,33401,6,0,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High Spender,NaN,NaN
17622767,895835,159838,prior,1,0,17,NaN,23695,2,0,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High Spender,NaN,NaN
24138593,895835,159838,prior,1,0,17,NaN,21334,5,0,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High Spender,NaN,NaN
25880002,895835,159838,prior,1,0,17,NaN,22198,1,0,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,14.8,High Spender,NaN,NaN

### Doing Consistency Checks on prices column

In [34]:
ords_prods_merge['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [35]:
ords_prods_merge['prices'].mean()

11.980225638467232

In [36]:
ords_prods_merge['prices'].median()

7.4

In [37]:
ords_prods_merge['prices'].max()

99999.0

In [38]:
#Checking for prices above $100
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_order_frequency,order_frequency_flag
10030345,912404,17,prior,12,2,14,5.0,21553,5,0,...,High-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,14900.0,High Spender,5.0,Frequent customer
10030346,603376,17,prior,22,6,16,4.0,21553,3,1,...,High-range product,Regularly busy,Regularly busy days,Most orders,40,Regular customer,14900.0,High Spender,5.0,Frequent customer
10030347,3264360,135,prior,2,2,21,13.0,21553,6,0,...,High-range product,Regularly busy,Regularly busy days,Average orders,4,New customer,14900.0,High Spender,12.0,Regular customer
10030348,892534,135,prior,3,0,8,12.0,21553,3,1,...,High-range product,Busiest day,Busiest days,Average orders,4,New customer,14900.0,High Spender,12.0,Regular customer
10030349,229704,342,prior,8,1,19,30.0,21553,9,0,...,High-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,14900.0,High Spender,23.0,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29166209,2249946,204099,prior,29,0,8,4.0,33664,1,0,...,High-range product,Busiest day,Busiest days,Average orders,39,Regular customer,99999.0,High Spender,4.0,Frequent customer
29166210,2363282,204099,prior,31,0,9,2.0,33664,1,1,...,High-range product,Busiest day,Busiest days,Most orders,39,Regular customer,99999.0,High Spender,4.0,Frequent customer
29166211,3181945,204395,prior,13,3,15,8.0,33664,25,0,...,High-range product,Regularly busy,Least busy days,Most orders,15,Regular customer,99999.0,High Spender,5.0,Frequent customer
29166212,2486215,205227,prior,7,3,20,4.0,33664,8,0,...,High-range product,Regularly busy,Least busy days,Average orders,12,Regular customer,99999.0,High Spender,12.0,Regular customer
29166213,2232716,205227,prior,10,0,11,4.0,33664,23,1,...,High-range product,Busiest day,Busiest days,Most orders,12,Regular customer,99999.0,High Spender,12.0,Regular customer

In [39]:
# Since this cannot be true, we will convert then as NaN
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [40]:
ords_prods_merge['prices'].max()

25.0

In [41]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated_2.pkl'))